/Maindamitgehts.txt
/PayPalAPISoapBinding.AddressVerify.req.xml
/PayPalAPISoapBinding.AddressVerify.res.xml
/PayPalAPISoapBinding.BMButtonSearch.req.xml
/PayPalAPISoapBinding.BMButtonSearch.res.xml
/PayPalAPISoapBinding.BMCreateButton.req.xml
/PayPalAPISoapBinding.BMCreateButton.res.xml
/PayPalAPISoapBinding.BMGetButtonDetails.req.xml
/PayPalAPISoapBinding.BMGetButtonDetails.res.xml
/PayPalAPISoapBinding.BMGetInventory.req.xml
/PayPalAPISoapBinding.BMGetInventory.res.xml
/PayPalAPISoapBinding.BMManageButtonStatus.req.xml
/PayPalAPISoapBinding.BMManageButtonStatus.res.xml
/PayPalAPISoapBinding.BMSetInventory.req.xml
/PayPalAPISoapBinding.BMSetInventory.res.xml
/PayPalAPISoapBinding.BMUpdateButton.req.xml
/PayPalAPISoapBinding.BMUpdateButton.res.xml
/PayPalAPISoapBinding.BillAgreementUpdate.req.xml
/PayPalAPISoapBinding.BillAgreementUpdate.res.xml
/PayPalAPISoapBinding.BillOutstandingAmount.req.xml
/PayPalAPISoapBinding.BillOutstandingAmount.res.xml
/PayPalAPISoapBinding.BillUser.req.xml
/PayPalAPISoapBinding.BillUser.res.xml
/PayPalAPISoapBinding.CancelRecoup.req.xml
/PayPalAPISoapBinding.CancelRecoup.res.xml
/PayPalAPISoapBinding.CompleteRecoup.req.xml
/PayPalAPISoapBinding.CompleteRecoup.res.xml
/PayPalAPISoapBinding.CreateBillingAgreement.req.xml
/PayPalAPISoapBinding.CreateBillingAgreement.res.xml
/PayPalAPISoapBinding.CreateMobilePayment.req.xml
/PayPalAPISoapBinding.CreateMobilePayment.res.xml
/PayPalAPISoapBinding.CreateRecurringPaymentsProfile.req.xml
/PayPalAPISoapBinding.CreateRecurringPaymentsProfile.res.xml
/PayPalAPISoapBinding.DoAuthorization.req.xml
/PayPalAPISoapBinding.DoAuthorization.res.xml
/PayPalAPISoapBinding.DoCancel.req.xml
/PayPalAPISoapBinding.DoCancel.res.xml
/PayPalAPISoapBinding.DoCapture.req.xml
/PayPalAPISoapBinding.DoCapture.res.xml
/PayPalAPISoapBinding.DoDirectPayment.req.xml
/PayPalAPISoapBinding.DoDirectPayment.res.xml
/PayPalAPISoapBinding.DoExpressCheckoutPayment.req.xml
/PayPalAPISoapBinding.DoExpressCheckoutPayment.res.xml
/PayPalAPISoapBinding.DoMobileCheckoutPayment.req.xml
/PayPalAPISoapBinding.DoMobileCheckoutPayment.res.xml
/PayPalAPISoapBinding.DoNonReferencedCredit.req.xml
/PayPalAPISoapBinding.DoNonReferencedCredit.res.xml
/PayPalAPISoapBinding.DoReauthorization.req.xml
/PayPalAPISoapBinding.DoReauthorization.res.xml
/PayPalAPISoapBinding.DoReferenceTransaction.req.xml
/PayPalAPISoapBinding.DoReferenceTransaction.res.xml
/PayPalAPISoapBinding.DoUATPAuthorization.req.xml
/PayPalAPISoapBinding.DoUATPAuthorization.res.xml
/PayPalAPISoapBinding.DoUATPExpressCheckoutPayment.req.xml
/PayPalAPISoapBinding.DoUATPExpressCheckoutPayment.res.xml
/PayPalAPISoapBinding.DoVoid.req.xml
/PayPalAPISoapBinding.DoVoid.res.xml
/PayPalAPISoapBinding.EnterBoarding.req.xml
/PayPalAPISoapBinding.EnterBoarding.res.xml
/PayPalAPISoapBinding.ExecuteCheckoutOperations.req.xml
/PayPalAPISoapBinding.ExecuteCheckoutOperations.res.xml
/PayPalAPISoapBinding.ExternalRememberMeOptOut.req.xml
/PayPalAPISoapBinding.ExternalRememberMeOptOut.res.xml
/PayPalAPISoapBinding.GetAccessPermissionDetails.req.xml
/PayPalAPISoapBinding.GetAccessPermissionDetails.res.xml
/PayPalAPISoapBinding.GetAuthDetails.req.xml
/PayPalAPISoapBinding.GetAuthDetails.res.xml
/PayPalAPISoapBinding.GetBalance.req.xml
/PayPalAPISoapBinding.GetBalance.res.xml
/PayPalAPISoapBinding.GetBillingAgreementCustomerDetails.req.xml
/PayPalAPISoapBinding.GetBillingAgreementCustomerDetails.res.xml
/PayPalAPISoapBinding.GetBoardingDetails.req.xml
/PayPalAPISoapBinding.GetBoardingDetails.res.xml
/PayPalAPISoapBinding.GetExpressCheckoutDetails.req.xml
/PayPalAPISoapBinding.GetExpressCheckoutDetails.res.xml
/PayPalAPISoapBinding.GetIncentiveEvaluation.req.xml
/PayPalAPISoapBinding.GetIncentiveEvaluation.res.xml
/PayPalAPISoapBinding.GetMobileStatus.req.xml
/PayPalAPISoapBinding.GetMobileStatus.res.xml
/PayPalAPISoapBinding.GetPalDetails.req.xml
/PayPalAPISoapBinding.GetPalDetails.res.xml
/PayPalAPISoapBinding.GetRecurringPaymentsProfileDetails.req.xml
/PayPalAPISoapBinding.GetRecurringPaymentsProfileDetails.res.xml
/PayPalAPISoapBinding.GetTransactionDetails.req.xml
/PayPalAPISoapBinding.GetTransactionDetails.res.xml
/PayPalAPISoapBinding.InitiateRecoup.req.xml
/PayPalAPISoapBinding.InitiateRecoup.res.xml
/PayPalAPISoapBinding.ManagePendingTransactionStatus.req.xml
/PayPalAPISoapBinding.ManagePendingTransactionStatus.res.xml
/PayPalAPISoapBinding.ManageRecurringPaymentsProfileStatus.req.xml
/PayPalAPISoapBinding.ManageRecurringPaymentsProfileStatus.res.xml
/PayPalAPISoapBinding.MassPay.req.xml
/PayPalAPISoapBinding.MassPay.res.xml
/PayPalAPISoapBinding.RefundTransaction.req.xml
/PayPalAPISoapBinding.RefundTransaction.res.xml
/PayPalAPISoapBinding.ReverseTransaction.req.xml
/PayPalAPISoapBinding.ReverseTransaction.res.xml
/PayPalAPISoapBinding.SetAccessPermissions.req.xml
/PayPalAPISoapBinding.SetAccessPermissions.res.xml
/PayPalAPISoapBinding.SetAuthFlowParam.req.xml
/PayPalAPISoapBinding.SetAuthFlowParam.res.xml
/PayPalAPISoapBinding.SetCustomerBillingAgreement.req.xml
/PayPalAPISoapBinding.SetCustomerBillingAgreement.res.xml
/PayPalAPISoapBinding.SetExpressCheckout.req.xml
/PayPalAPISoapBinding.SetExpressCheckout.res.xml
/PayPalAPISoapBinding.SetMobileCheckout.req.xml
/PayPalAPISoapBinding.SetMobileCheckout.res.xml
/PayPalAPISoapBinding.TransactionSearch.req.xml
/PayPalAPISoapBinding.TransactionSearch.res.xml
/PayPalAPISoapBinding.UpdateAccessPermissions.req.xml
/PayPalAPISoapBinding.UpdateAccessPermissions.res.xml
/PayPalAPISoapBinding.UpdateAuthorization.req.xml
/PayPalAPISoapBinding.UpdateAuthorization.res.xml
/PayPalAPISoapBinding.UpdateRecurringPaymentsProfile.req.xml
/PayPalAPISoapBinding.UpdateRecurringPaymentsProfile.res.xml
/Paypal/Paypal/Debug/Paypal.tlog/*.tlog
